---
import LayoutNoHeader from "../layouts/LayoutNoHeader.astro";
import Title from "@components/atoms/Title/Title.astro";
import Button from "@components/atoms/Button/Button.astro";
---

<script>
  import { prevPage } from "@components/utils/prevPage";
  prevPage("backButton");
</script>

<LayoutNoHeader>
  <section class="error">
    <Title title="404 NOT FOUND" size="big" />
    <p class="error__message">La pagina a la que tratas de acceder no existe</p>
    <a
    class="mt-10 bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 text-white font-bold py-2 px-4 rounded"
    href='/pokemons/1'
  >
    Back
  </a>
  </section>
</LayoutNoHeader>

<style>
  .error {
    width: 100%;
    min-height: 100dvh;
    display: grid;
    place-content: center;
    justify-items: center;
    gap: 1rem;
  }

  .error__message {
    font-size: 1.8rem;
  }

  .error > *:not(:last-child) {
    margin-bottom: 2rem;
  }
</style>
